{
  "presets": ["@vue/babel-preset-jsx"  ],
  "plugins": [
    ["@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "version": "^7.18.6"
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
