.el-dialog{
  margin: 0!important;
  position: fixed;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%,-50%);
  .el-dialog__header{
    background: #3c465e !important;
    padding: 7px 10px   ;
    margin: 0;
    .el-dialog__title {
      font-size: 15px;
      color: #ffffff;

    }
    .el-dialog__headerbtn {
      top: 0px;
      width: 38px;
      height: 38px;
    }
    .el-dialog__close{
      padding: 3px;
      border-radius: 50px;
      background: white;
    }

    .el-dialog__close:before{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .el-dialog__body{
    background: rgba(64, 71, 80, 0.7);
    box-sizing: border-box;
    padding: 15px!important;
    margin: 0!important;
  }


}


.footer{
  margin-top: 30px;
  text-align: center;
}
.footer .el-button{
  padding: 11px 32px;
}
.footer .el-button:first-child{
  margin-right: 15px;
}