.el-form{
  .divItem{
    display: flex;
    justify-content: space-between;
    .el-form-item{
      margin-bottom: 18px;
      .el-form-item__label{
        color: #ffffff;
        text-align: left;
        padding-right: 2px;
      }
    }
    .el-form-item:not(.is-required) .el-form-item__label{
      padding-left: 10px;
    }
  }
}


.el-input__wrapper{
  background-color: rgba(30, 104, 197, 0.5) !important;
  box-shadow:none!important;
  border: 1px rgba(174, 178, 199, 0.73) solid;

}
.el-textarea__inner,
.el-input__inner {
  color: #fff !important;
  background-color: transparent !important;
}
.el-input__suffix-inner{
  color: rgba(234, 227, 227, 0.9);
}